@import 'components/styles/import.scss';

$padding: 4px;

.resourcebar {
   margin: 0;
   padding: $padding;
   box-sizing: content-box;
   display: flex;

   li {
        display: flex;
        flex: 1;
        max-width: 64px;

        div {
            display: inline-block;
        }

        .amount {
            padding-left: 3px;
            line-height: $misc-topbar-height - $padding;

            &.full {
                color: $color-invalid;
            }
        }

        @media only screen and (max-width: 376px) {
            .amount {
                display: none;
            }
        }
    }
}
