@import 'components/styles/variables.scss';

.resourcesbox {
	padding: 0;
	margin: 0;
    list-style: none;
    
	.resource {
        display: flex;
        
		.name {
			width: 100px;
			margin-left: 4px;
		}
        
        .amount {
			width: 40px;
			text-align: right;

			&.full {
				color: $color-invalid;
			}
		}
        
        .max {
			color: grey;
		}
        
        .structure {
			padding-left: 15px;
		}
        
        .delta {
			span {
				background-color: #FFB61E;
				font-size: 11px;
				border-radius: 4px;
				padding: 0 3px 0 3px;
				color: white;
				margin-left: 6px;
				display: inline-block;
				transform: translateY(-3px);
				opacity: 1;
			}
		}
	}

    .resource.insufficient {

        .amount {
			color: red;
		}
	}
}

.animate {
	.resourcesbox {
		.resource {
			.delta {
				span.animate-up {
					transform: translateY(-30px);
					opacity: 0;
					transition: all 700ms ease-in;
				}
			}
		}
	}
}
