.tabstrip {
    list-style: none;
    padding: 0;
    padding-left: 10px;
    margin: 0;
    flex: 1;
    display: flex;
}

.tabstrip .tabstrip-tab  {
    max-width: 150px;
    display: inline-block;
    margin-left: 4px;
    border: 2px solid green;
    border-bottom: 0;
    background: lightgray;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: var(--app-cursor-pointer);
    align-self: flex-end;
}

.tabstrip .tabstrip-tab.active {
    background: white;
    border-color: orange;
}

.tabstrip.disabled .tabstrip-tab {
    opacity: .2;
}
.tabstrip.disabled .tabstrip-tab.active {
    opacity: initial;
}

