.debug {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 1rem);

  .menu {
    margin: 0.5rem;
    padding: 0.5rem;

    li {
      display: inline;
      padding-right: 0.5rem;
    }
  }

  .content {
    flex: 1;
  }
}
