@import 'components/styles/variables.scss';

.common-icon-smallest, .common-icon-small, .common-icon-medium, .common-icon-big, .common-icon-biggest {
    background-size: contain;
    background-repeat: no-repeat;
}

.common-icon-smallest {
    width: $item-size-smallest;
    height: $item-size-smallest;
}

.common-icon-small {
    width: $item-size-small;
    height: $item-size-small;
}

.common-icon-medium {
    width: $item-size-medium;
    height: $item-size-medium;
}
