@import 'components/styles/import.scss';

.loading-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding-top: 6rem;
  color: $color-primary;
  font-family: $font-normal;
}