.gold-amount {
  display: inline-flex;
  gap: 0.15rem;
  align-items: center;

  &.disabled {
    cursor: not-allowed;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity: .8;
  }
}
