@import 'components/styles/import.scss';

.game-stats {
  margin-top: 2rem;
  @include sm {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  align-items: start;
  dl {
    display: grid;
    grid-template-columns: 1fr 2fr;

    dd {
      color: $color-text-darker;
      margin-left: 0.5rem;
    }

    .prop {
      color: white;
    }
    .invalid {
      color: $color-invalid!important;
    }
  }

}
