.adventurers-box {
    list-style: none;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid grey;
    background: white;
}

.adventurers-box .group {
    border: 1px solid grey;
    border-bottom: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.adventurers-box .adventurer-portraits {
    list-style: none;
    margin: 0;
    padding: 0;
    z-index: 0;
    line-height: 0;
}

.adventurers-box .sigil {
    height: 32px;
    width: 26px;
    display: inline-block;
    padding: 3px;
    margin: 3px;
    box-sizing: border-box;
    background-size: contain;
}

.adventurers-box .adventurer-portraits li {
    width: 32px;
    display: inline-block;    
    padding: 3px 3px 3px 0;
}

.adventurers-box .adventurer-portraits li.selected {
    padding: 0;
    border: 3px solid #165fcb;
    /** To cut a hole in the bottom of the border */
    border-bottom: 0;
    margin-bottom: 3px;
    margin-left: -3px;
    -webkit-box-shadow: 0 6px 0 -3px white;
    -moz-box-shadow: 0 6px 0 -3px white;
    box-shadow: 0 6px 0 -3px white;
}

.adventurers-box .group .adventurer-info {
   width: 100%;
   border: 3px solid #165fcb;
   margin-top: -3px;   
   box-sizing: border-box;
}

.adventurers-box .group .adventurer-info .adventurer-info-container {
    display: flex;
}

.adventurers-box .group .adventurer-info .adventurer-info-container .gear {
    flex: 1;
}

.adventurers-box .group .adventurer-info .adventurer-info-container .inventory {
    flex: 1;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}
