.app {
    --app-cursor-default: url("/img/cursors/dwarven_gauntlet_extra_4.png"), auto;
    --app-cursor-pointer: url("/img/cursors/dwarven_gauntlet_extra_6.png"), auto;
}

.app {
    background: orange;
    position: relative;
    transform-origin: top left;
    overflow: hidden;
    /* position: absolute; */
    left: 50%;

    cursor: var(--app-cursor-default);
}

.resources label {
    width: 180px;
    display: inline-block;
}

.resources input[type=number] {
    width: 50px;
}