.cheat-box {
    background: white;
}

.cheat-box .label-numberbox-button {
    display: flex;
    padding: 2px;
}

.cheat-box .label-numberbox-button label {
    flex: 1;
    padding-left: 2px;
}

.cheat-box .label-numberbox-button button {
    height: 23px;
    margin-left: 4px;
}

.cheat-box .label-dropdown {
    display: flex;
    padding: 2px;
}

.cheat-box .label-dropdown label {
    flex: 1;
    padding-left: 2px;
}
