@import '@/components/styles/import.scss';

.attribute-context {
  .description {
    color: $color-secondary;
    font-style: italic;
  }

  .values {
    .additional {
      color: $color-highlight-darker;
    }
  }
}
