@import '@/components/styles/import.scss';

.accordion {
  .accordion-item {
    header {
      background: white;
      color: black;
      padding: 0.25rem 0 0.25rem 0.5rem ;
    }
    .content {
      max-height: 0;
      overflow: hidden;
      transition: max-height .25s;
      box-sizing: content-box;

      > * {
        margin: 0;
      }

      p {
        padding: 1rem;
      }
    }

    &.expanded {
      .content {
        max-height: calc(var(--content-height) * 1px);
      }
    }
  }
}
