.room {
  .lodged-until {
    display: flex;
    gap: 0.25rem;

    .date {
      flex: 1;
    }

    .button {
      margin-right: 0.5rem;
    }

    .disabled {
      cursor: not-allowed;
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
      opacity: .8;
    }

  }
}
