@import 'components/styles/variables.scss';

.item-icon { 
    background-image: url(images/item-rarity-background.png);
    position: relative;
    border: 1px solid;

    img {
        width: 100%;
        height: 100%;
    }

    &::after {
        content: '';
        position: absolute;
        pointer-events: none;
        width: 100%;
        height: 100%;
        border: 1px solid black;
        left: 0;
        top: 0;
        opacity: 0.5;
        box-sizing: border-box;
    }
}

.item-icon-common {
    border-color: $color-rarity-common;
}

.item-icon-uncommon {
    border-color: $color-rarity-uncommon;
    background-position-x: 1 * -$item-size-medium;
}

.item-icon-rare {
    border-color: $color-rarity-rare;
    background-position-x: 2 * -$item-size-medium;
}

.item-icon-epic {
    border-color: $color-rarity-epic;
    background-position-x: 3 * -$item-size-medium;
}

.item-icon-legendary {
    border-color: $color-rarity-legendary;
    background-position-x: 4 * -$item-size-medium;
}
