@import 'components/styles/import.scss';

.structure-details-window {
  background: rgba(0, 0, 0, .8);
  color: $color-text-lighter;

  .header {
    background: black;
		display: flex;
		height: 32px;

		h3 {
      height: 32px;
      color: white;
			flex: 1;
			margin: 0;
			line-height: 32px;
			padding-left: 6px;
			text-transform: capitalize;
		}
	}

  .structure-details {
    min-height: calc(100%);
    background: $color-background-dark;
    pointer-events: initial;

    legend {
      margin-top: 30px;
    }

    .building {
      padding: 16px;
    }
  }
}
