@import 'components/styles/variables.scss';


@font-face {
    font-family: 'Gabriela';
    src:  url('./font/Gabriela-Regular.woff') format('woff');
}

.app {
    background: $color-secondary;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    min-height: 100vh;
    
    // todo: 08/05/2020  Use variables for cursor
    --app-cursor-default: url("./img/cursors/dwarven_gauntlet_extra_4.png"), auto;
    --app-cursor-pointer: url("./img/cursors/dwarven_gauntlet_extra_6.png"), auto;
    --app-cursor-down: url("./img/cursors/dwarven_gauntlet_extra_3.png"), auto;

    cursor: var(--app-cursor-default);
    font-family: $font-normal;

    button {
        cursor: var(--app-cursor-pointer);
    }

    .control-bar {
        margin: 4px 0 0 8px;
    }
}

/** Small resolutions */
@media only screen and (max-width: $max-width-small) {
    .app {
        font-size: smaller;
    }
}




