@import 'components/styles/variables.scss';

.actor-thingy {
    position: absolute;
    margin-top: -46px;

    .name {
        height: 16px;
        margin-bottom: 4px;
        width: 100%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        text-align: center;
        color: $color-text-lighter;
    }

    .healthbar {
        height: 12px;
        background: orange;
        border: 4px solid orange;
        box-sizing: border-box;

        .track {
            height: 100%;
            background: green;
        }
    }
}