@import 'components/styles/variables.scss';

/** medium and large resolutions */
@media only screen and (min-width: 576px) {
    .tavernstructureview section {
        display: flex;
        width: 100%;
    }
}

.tavernstructureview {
    
    .upgrade {
        float: right;
    }
    .help {
        float: right;
        margin-right: 8px;
    }
    
    .room-list {
        overflow: auto;
        flex: 1;
        margin: 8px;
    }

    .quest-board {
        flex: 1;
    }
}

