@import 'components/styles/variables.scss';


.tavern-structure-view {
    padding: 16px;
    
    .room-list {
        overflow: auto;
        flex: 1;
        margin: 8px;
    }
    
    .quest-board {
        flex: 1;
    }

    /** medium and large resolutions */
    @media only screen and (min-width: $max-width-small) {
        section {
            display: flex;
            width: 100%;
        }
    }
}

