@import '@/components/styles/import.scss';


.tavern-structure-view {
  padding: 16px;

  /** medium and large resolutions */
  @include md {
    .content {
      display: flex;
      width: 100%;

      .room-list {
        flex: 1;
      }

      .quest-board {
        flex: 1;
      }
    }
  }
}
