@import '@/components/styles/import.scss';


.tavern-structure-view {
  padding: 1rem;

  .content {
    display: grid;
    gap: 1rem;

    /** medium and large resolutions */
    @include md {
      grid-template-columns: 1fr 1fr;
      width: 100%;

      .waiting-area {
        grid-column: 1 / 3;
      }
    }
  }
}
