@import 'components/styles/variables.scss';

.upgrade-help-modal {
    margin-bottom: 8px;
    max-width: 420px;
    right: 8px;

    .top {
        display: flex;
        flex-direction: row;

        h3 {
            flex: 1;
            padding-left: 16px;
        }

        .cost {
            color: $color-text-darker;
            margin: 16px 16px 0 0;
            text-align: right;
        }
    }

    .storage-increase {
        display: grid;
        grid-template-columns: 32px auto 64px 16px 64px;
        margin: 32px 0 16px 16px;
        
        .header {
            font-weight: bold;
            border-bottom: 1px solid $color-secondary;
            padding-bottom: 4px;
            margin-bottom: 8px;

            &:first-child {
                // Pull first header left to extend the line
                margin-left: -16px;
            }
        }

        .number {
            text-align: right;
            padding-right: 16px;
        }

        .arrow {
            color: $color-text-darker;
        }
    }
}

.upgrade-structure-tooltip .context-tooltip {
    width: 320px !important;
}