@import '@/components/styles/import.scss';

.adventurer-panel {
  padding-right: 8px;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  .info {
    .flavor {
      font-size: smaller;
      font-style: italic;
      color: $color-text-medium;

      .portrait {
        float: right;
        margin-left: 1rem;
        width: 25%;
      }
    }

    .health {
      clear: both;
    }
  }

  .right {
    padding-top: 1rem;
  }

  @include md {
    &:not(.force-vertical) {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }
}
