@import 'components/styles/import.scss';

.adventurer-panel {
  padding-right: 8px;

  .info {
    .title {
      margin: .5rem 0;
    }

    .flavor {
      font-size: smaller;
      font-style: italic;
      color: $color-text-medium;

      .portrait {
        float: right;
        margin-left: 1rem;
        width: 25%;
      }
    }

    .health {
      clear: both;
    }
  }

  .right {
    padding-top: 16px;
  }

  &.horizontal {
    display: flex;

    .right {
      padding: 16px;
    }
  }

  @include sm-max {
    &.horizontal {
      /** small screen horizontal layout */

      .left {
        padding-right: 16px;
      }
    }

    .right {
      padding-left: 16px;
    }
  }

}
