@import 'components/styles/import.scss';

.basic-attributes {

  .attribute-list {
    display: grid;
    grid-template-columns: 1fr 1fr minmax(2rem, auto);
    padding: 0;

    &.has-additional {
      grid-template-columns: 1fr 1fr minmax(2rem, auto) minmax(2rem, auto);
    }

    .attribute-name {
      text-decoration: underline;
      text-decoration-style: dashed;
      text-underline-offset: 2px;
      text-decoration-color: #fcfcfc73;
    }

    .attribute-indicator {
      margin: 0 0.5rem;
      align-items: center;
    }

    .value-text {
      flex: 0.2;
      margin-left: 0.5rem;
      white-space: nowrap;

    }
    .attribute-additional {
      color: $color-highlighted;
      white-space: nowrap;
    }
  }
}
