@import 'components/styles/import.scss';

.debug-adventurer-edit {
  .button-toggle {
    color: $color-link;
    margin-left: 0.5rem;
    cursor: pointer;
  }

    summary {
    font-weight: bold;
  }

  dl {
    display: grid;
    grid-template-columns: 1fr 1fr;

    dd {
      color: $color-text-darker;
      margin-left: 0.5rem;
      margin-bottom: 0.25rem;

      .slider {
        display: flex;

        input {
          flex: 1;
        }

        .value {
          width: 2rem;
          text-align: right;
        }
      }
    }
  }
}
