@import '@/components/styles/import.scss';

.level {
  .text {
    display: flex;
    justify-content: space-between;

    .race {
      text-transform: capitalize;
    }

    .current-level {
      color: $color-secondary;
    }
  }
}
