
.warehouse-structureview .inventory {
    margin-top: 20px;
    grid-template-columns: repeat(5, 1fr);
}

.warehouse-structureview .adventurer-inventory {
    border: 1px solid green;
    min-height: 100px;
    padding-left: 20px;
}