.log {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.log .tab-bar {
    display: flex;
    background: rgba(0, 0, 0, .5);
}

.log .tab-bar .expand-button {
    background: purple;
}

.log .tab-bar .tabs {
    height: 25px;
    line-height: 25px;
    display: flex;
    overflow: hidden;
}

.log .tab-bar .tabs li {
    flex: 1;
}

.log .log-entries {
    height: 60px;
    overflow: auto;
    border: 1px solid green;
    box-sizing: border-box;
}

.log.expanded {
    height: calc(100% - 32px); /** 32 is the height of the topbar */
}

.log.expanded .log-entries{
    height: 100%;
    background: pink;
    flex: 1;
}

