.log {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.log .tab-bar {
    display: flex;
}

.log .tab-bar .tabs {
    list-style: none;
    padding: 0;
    padding-left: 10px;
    margin: 0;
    flex: 1;
}

.log .tab-bar .tabs li {
    display: inline-block;
    padding-left: 4px;
    border: 1px solid green;
    border-bottom: 0;
    width: 120px;
    background: lightgray;
    overflow: hidden;
    height: 25px;
    line-height: 25px;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
}

.log .tab-bar .tabs li.active {
    background: white;
}

.log .tab-bar .expand-button {
    background: purple;
}

.log .log-entries {
    height: 60px;
    overflow: auto;
    border: 1px solid green;
    box-sizing: border-box;
}

.log.expanded {
    height: calc(100% - 32px); /** 32 is the height of the topbar */
}

.log.expanded .log-entries{
    height: 100%;
    background: pink;
}