@import '@/components/styles/import.scss';

.show-labels {
  position: sticky;
  bottom: 1rem;
  margin-left: 1rem;

  .content {
    position: absolute;
    margin-top: -2rem;
    cursor: $cursor-pointer;

    input {
      accent-color: $color-link;
    }

    label {
      cursor: $cursor-pointer;
      user-select: none;
    }
  }
}
