.partyscreen {
    position: absolute;
    left: 320px;
    top: 60px;
    margin-right: 40px;
    border: 1px solid #6b6f64;
    /* width: 700px; */
}

.partyscreen .header {
    height: 50px;
    line-height: 30px;
    padding: 10px;
    box-sizing: border-box;

    background: rgb(229, 229, 229);
    background: -moz-linear-gradient(top, rgba(229, 229, 229, 1) 0%, rgba(255, 255, 255, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(229, 229, 229, 1) 0%, rgba(255, 255, 255, 1) 100%);
    background: linear-gradient(to bottom, rgba(229, 229, 229, 1) 0%, rgba(255, 255, 255, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e5e5e5', endColorstr='#ffffff', GradientType=0);

}

.partyscreen .avatars {
    display: flex;
}

.partyscreen .avatars .avatar {
    flex: 1;
    text-align: center;
    background-size: contain;
    position: relative;
}

.partyscreen .avatars .avatar img {
    width: 100%;
    height: 100%;
}

.partyscreen .avatars .avatar .name {
    position: absolute;
    color: white;
    transform: translateY(-30px);
    width: 100%;
}

.partyscreen .avatars .avatar.selected {
    border: green 4px solid;
}

.partyscreen .questlog {
    height: 200px;
}

.partyscreen .action {
    height: 200px;
}

.partyscreen .adventurer-container {
    display: flex;
}

.partyscreen .adventurer-container .left, .partyscreen .adventurer-container .right {
    flex: 0.5
}

.partyscreen .adventurer-container .left {
    border-right: 1px solid grey;
}

.partyscreen .adventurer-container .left .name {
    padding: 15px;
}

.partyscreen .adventurer-container .left .attributes {
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    padding: 15px;
}


.partyscreen .adventurer-container .left .gear {
    padding: 15px;
}

/** todo: media queries to show more columns*/
.partyscreen .adventurer-container .inventory {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}


@media (max-width: 600px) {
    .partyscreen .adventurer-container .inventory {
        grid-template-columns: 100%;
    }
}

@media (max-width: 800px) {
    .partyscreen .adventurer-container .inventory {
        grid-template-columns: 50% 50%;
    }
}

@media (min-width: 1100px) {
    .partyscreen .adventurer-container .inventory {
        grid-template-columns: 20% 20% 20% 20% 20%;
    }
}

@media (min-width: 1500px) {
    .partyscreen .adventurer-container .inventory {
        grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
    }
}

@media (min-width: 1800px) {
    .partyscreen .adventurer-container .inventory {
        grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    }
}


.partyscreen .adventurer-container .inventory .inventory-item {
    display: inline-block;
    border: 1px solid green;
    position: relative;
    /* box-sizing: border-box; */
}

.partyscreen .adventurer-container .inventory .inventory-item div {
    width: 100%;
    height: 100%;
    background-size: contain;
    position: absolute;
}

.partyscreen .adventurer-container .inventory .inventory-item:after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 0;
    padding-bottom: 100%;
  }