@import '@/components/styles/import.scss';

details.structureview {
  margin-bottom: 10px;

  section {
    margin-left: 15px;
  }

  .crafting-row {
    display: flex;

    .number-dial {
      padding: 0 32px;
    }
  }
}

.production-structure-view {
  padding: 16px;

  .crafting-list-title {
    margin-top: 1rem;
  }

  .crafting-area {
    display: flex;
    margin-bottom: 1rem;
    margin-top: 0.5rem;

    .crafting-items-list {
      list-style: none;
      margin: 0;
      padding: 0;
      width: 200px;
      text-transform: capitalize;

      li {
        display: flex;
        margin: 0;
        padding: 2px;
        // line-height: $item-size-small;
        cursor: $cursor-pointer;

        &.selected {
          background: $color-secondary;
          color: white;
        }

        .item-icon {
          margin-right: 10px;
        }
      }
    }

    .crafting-details {
      flex: 1;
      border: 3px solid $color-secondary;
      padding: 10px;

      .crafting-item {
        margin-bottom: 0.25rem;
      }

      fieldset {
        @include border-grey-sm;
      }

      .crafting-costs {
        display: flex;

        fieldset {
          flex: 1;
        }
      }

      .buttonrow {
        display: flex;
        justify-content: space-between;
        margin-top: 16px;
      }
    }
  }

  .crafting-log {
    padding-top: 2rem;
    @include border-grey-sm;
  }
}

