@import 'components/styles/import.scss';

.resources-cost {
	padding: 0;
	margin: 0;
    list-style: none;

	li {
    	display: flex;

		.name {
			width: 100px;
			margin-left: 4px;
		}

        .amount {
			width: 40px;
			text-align: right;
		}

		&.insufficient {

			.amount {
				color: $color-invalid;
			}
		}
	}

	&.wrap {
		// Use this class to display resource cost as 2 column
		display: flex;
		flex-wrap: wrap;
		margin-right: -2rem;

		li {
			margin-right: 2rem;
			width: calc(50% - 2rem);
		}
	}

}

