@import 'components/styles/variables.scss';

.upgrade-help-model-content-production {
    h3 { 
        margin-left: 0.5rem;
        margin-bottom: 0;
    }
    .unlocks {
        display: flex;
        padding: 0.5rem;
        padding-bottom: 0;
    }
}

