@import 'components/styles/variables.scss';

.combat-bar {
    display: flex;
    justify-content: space-between;
    padding: 0 8px;
    align-items: center;

    .title {
        flex: 1;
    }

    .adventurers {
        display: flex;

        .adventurer {
            display: flex;
            
            &.selected {
                color: $color-text-lighter;
            }
        }
        
        .ap {
            padding-left: 4px;
            width: 46px;
        }
    }
}