@import '@/components/styles/import.scss';

.assign-adventurers {
  margin: 20px;
  padding: 0;
  justify-content: center;
  display: flex;

  li {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    border: 1px solid gray;
    margin: 2px;


    &.has-adventurer {
      cursor: $cursor-pointer;
    }
  }
}
