@import 'components/styles/variables.scss';

.info-window {
    color: $color-text-lighter;
    background: $color-background-dark;
    border-image-source: url("./images/border-brown.png");
    border-image-slice: 10 10 10 10;
    border-image-repeat: stretch;
    border-width: 10px;
    border-style: solid;
    box-sizing: border-box;
    box-shadow: 0 0 1px 1px rgb(0, 0, 0);
}