@import 'components/styles/import.scss';

.info-window {
  color: $color-text-lighter;
  background: $color-background-overlay;
  border-image-source: url("./images/border-brown.png");
  border-image-slice: 10 10 10 10;
  border-image-repeat: stretch;
  border-width: 10px;
  border-style: solid;
  box-sizing: border-box;
  box-shadow: 0 0 1px 1px rgb(0, 0, 0);

  .title {
    font-size: 1.2rem;
    height: 1rem;
    margin: -10px;
    margin-bottom: 10px;
    padding: 10px;
    padding-top: 2px;
    background: $color-secondary;
    display: flex;
    justify-content: space-between;

    .close {
		  cursor: var(--app-cursor-pointer);
    }
  }
}

.info-window-draggable {
  position: absolute;
  left: 50%;
  top: 50%;

  .title {
    cursor: move;
  }
}
