@import '@/components/styles/import.scss';

.settings-window {
  background: white;
  padding: 8px;

  p {
    margin-left: auto;
    margin-right: auto;
  }

  .settings-section {
    padding: 0 16px;
    flex: 1;

    p {
      min-width: 80px;
      max-width: 400px;
      width: 100%;
    }
  }

  .combat {
    grid-area: combat;
    p {
      display: flex;
    }

    label {
      flex: 1
    }
  }

  .sound {
    grid-area: sound;
    p {
      display: flex;

      input {
        margin-bottom: -8px;
        width: 100%;
      }

      label {
        width: 90px;
        display: block;
      }
    }
  }

  .debug {
    grid-area: debug;
    p {
      display: flex;
    }

    label {
      flex: 1
    }
  }
}

@include sm {
  .settings-window {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "sound combat"
                         "sound debug"
  }
}
