@import 'components/styles/import.scss';

.resource-context {
  .info {
    color: $color-secondary;
  }

  .warning-full {
		color: $color-highlighted;
  }
}


.produced {
  color: $color-text-darker;

  a {
    color: $color-text-lighter;
  }
}
