@import 'components/styles/variables.scss';

.inventory {
    display: grid;

    padding-top: 2px;
    padding-left: 2px;
}

.inventory .inventory-item {
    display: inline-block;
    position: relative;
    background: #4d4d4d75;

    border: 2px solid $color-secondary;
    box-sizing: content-box;
    min-width: $item-size-medium;
    min-height: $item-size-medium;
    margin-left: -2px;
    margin-top: -2px;
}

.inventory .inventory-item.drop-active {
    border-color: $color-valid;
    z-index: 2;
}

.inventory .inventory-item.drop-possible {
    border-color: $color-primary;
}

.inventory .inventory-item .item-icon {
    background-color: $color-primary;    
}

/* size: small, 
  on large screens: 8 colums 
  on medium screens: 4 columns
  on small screens: 2 columns
 */
 .inventory.inventory-small {
    /** large screen */
    grid-template-columns: repeat(6, $item-size-medium + 4px);
}

@media only screen and (max-width: 778px) {
    /** medium screen */
    .inventory.inventory-small {
        grid-template-columns: repeat(4, $item-size-medium + 4px);
    }
}

@media only screen and (max-width: 576px) {
    /** small screen */
    .inventory.inventory-small {
        grid-template-columns: repeat(2, $item-size-medium + 4px);
    }
}

/* size: medium, 
  on large screens: 8 colums 
  on medium screens: 6 columns
  on small screens: 4 columns
 */
.inventory.inventory-medium {
    /** large screen */
    grid-template-columns: repeat(8, $item-size-medium + 4px);
}

@media only screen and (max-width: 778px) {
    /** medium screen */
    .inventory.inventory-medium {
        grid-template-columns: repeat(6, $item-size-medium + 4px);
    }
}

@media only screen and (max-width: 576px) {
    /** small screen */
    .inventory.inventory-medium {
        grid-template-columns: repeat(4, $item-size-medium + 4px);
    }
}

/* size: large, basically as wide as the uiå
  on large screens: 16 colums 
  on medium screens: 12 columns
  on small screens: 6 columns
 */
.inventory.inventory-large {
    /** large screen */
    grid-template-columns: repeat(19, $item-size-medium + 4px);
}

@media only screen and (max-width: 778px) {
    /** medium screen */
    .inventory.inventory-large {
        grid-template-columns: repeat(12, $item-size-medium + 4px);
    }
}

@media only screen and (max-width: 576px) {
    /** small screen */
    .inventory.inventory-large {
        grid-template-columns: repeat(6, $item-size-medium + 4px);
    }
}
