@import '@/components/styles/import.scss';

$border: 2px;

.inventory {
  display: flex;
  flex-wrap: wrap;

  padding-top: $border;
  padding-left: $border;

  .inventory-item {
    display: inline-block;
    position: relative;
    background: #4d4d4d75;

    @include border-grey-md;

    box-sizing: content-box;
    width: $item-size-medium + $border;
    height: $item-size-medium + $border;
    margin-left: -$border;
    margin-top: -$border;

    &.drop-active {
      @include border-green-md;
      z-index: 2;
    }

    &.drop-possible {
      @include border-gold-md;
    }

    &.disabled {
      pointer-events: none;
      filter: grayscale(1);
      opacity: 0.5;
    }

    .item-icon {
      background-color: $color-primary;
    }
  }
}
