
.inventory {
    display: grid;

    padding-top: 2px;
    padding-left: 2px;
}

.inventory .inventory-item {
    display: inline-block;
    position: relative;
    background: aqua;

    border: 2px solid grey;
    box-sizing: content-box;
    margin-left: -2px;
    margin-top: -2px;
}

.inventory .inventory-item.drop-active {
    border-color: green;
    z-index: 2;
}

.inventory .inventory-item.drop-possible {
    border-color: orange;
    background: white;
}

.inventory .inventory-item .item-icon {
    background-color: orange;    
}

/* size: medium, 
  on large screens: 8 colums 
  on medium screens: 6 columns
  on small screens: 4 columns
 */
.inventory.inventory-medium {
    /** large screen */
    grid-template-columns: repeat(8, 48px);
}

@media only screen and (max-width: 778px) {
    /** medium screen */
    .inventory.inventory-medium {
        grid-template-columns: repeat(6, 48px);
    }
}

@media only screen and (max-width: 576px) {
    /** small screen */
    .inventory.inventory-medium {
        grid-template-columns: repeat(4, 48px);
    }
}
