
@import 'components/styles/variables.scss';

.common-border-common {
    border-color: $color-rarity-common;
}

.common-border-uncommon {
    border-color: $color-rarity-uncommon;
}

.common-border-rare {
    border-color: $color-rarity-rare;
}

.common-border-epic {
    border-color: $color-rarity-epic;
}

.common-border-legendary {
    border-color: $color-rarity-legendary;
}
