
@import 'components/styles/variables.scss';

.quest-panel {
	display: flex;
	background: $color-background-dark;
    flex: 1;
    color: $color-text-lighter;

    /** on the left. grow as needed */
	.quest-area {
		flex: .6;
		padding: 8px;
		display: flex;
        position: relative;
        
		.modal {
			background: rgba(0, 0, 0, 0.75);
			position: absolute;
			left: 8px;
			top: 8px;
			right: 8px;
			bottom: 8px;
			display: flex;
			justify-content: center;
            align-items: baseline;

            &>div {
                margin-top: 50%;
            }
		}
        
        /** scene canvas */
        canvas {
			width: 100%;
			height: auto !important;
            flex: 1;
            max-width: 100%;
		}

    }

    /** on the right. party party */
    .party-area {
		flex: .4;
        padding: 8px;
        
        .tabstrip.adventurers-tabstrip {
            .tabstrip-tab {
                margin-bottom: -2px;
                margin-left: 2px;
                padding: 0;
                position: relative;
                border: 0;
                border-bottom: 2px solid$color-highlighted;

                .avatar {
                    border: 2px solid $color-secondary;
                    border-bottom: none;
                    margin-bottom: -2px;
                }

                &.active {
                    margin-bottom: -2px;
                    border-color: $color-highlighted;
                    border-bottom: 0;
                    
                    .avatar {
                        border: 2px solid $color-highlighted;
                        border-bottom: none;
                        margin-bottom: 0;
                    }
                }
            }
        }
                
        .adventurer-details {
            border-top: 2px solid $color-highlighted;
        }
	}

    &.quest-panel-horizontal {
        flex-direction: row;
    }

    &.quest-panel-vertical {
        flex-direction: column;

        .adventurer-panel {
            display: flex;
            overflow: auto; /* horizontal scrollbar if needed */

            .info {
                margin-right: 8px;
                flex: 1;
            }

            .equipment {
                margin-right: 8px;
            }
        }
    }
}

@media only screen and (min-width: $max-width-small) {
    /** medium screen, horizontal layout */
	.quest-panel.quest-panel-auto {
        display: table;
        position: relative;

        .quest-area {
			overflow: hidden;
            display: table-cell;
            width: 50%;
		}

        .party-area {
            display: table-cell;
            height: 100%;
            overflow: hidden;
            position: absolute;
            width: calc(50% - 4px);
            padding-left: 0;
        }

        .adventurer-details {
            overflow: scroll;
            height: calc(100% - 32px);
            position: relative;

            .adventurer-panel {
                overflow: hidden;
                position: relative;
                margin-right: 40px;
                
                section {
                    padding: 8px;
                    margin-bottom: 3rem;

                    &:last-child {
                        min-height: calc(100vh - 300px);
                    }
                }
            }
        }
	}
}
@media only screen and (max-width: $max-width-small) {
    /** small screen, vertical layout */

    .quest-panel.quest-panel-auto {
		flex-direction: column;
    
        .quest-area {
			flex: 0 1;
		}
    
        .adventurer-panel {
			display: flex;
			overflow: auto;
    
            .info {
				margin-right: 8px;
				flex: 1;
			}
			.equipment {
				margin-right: 8px;
			}
		}
	}
}
