.partywindow {
    width: 100%;
    background: white;
    box-sizing: border-box;
}

.partywindow .header {
    height: 50px;
    line-height: 30px;
    padding: 10px;
    box-sizing: border-box;

    background: rgb(229, 229, 229);
    background: -moz-linear-gradient(top, rgba(229, 229, 229, 1) 0%, rgba(255, 255, 255, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(229, 229, 229, 1) 0%, rgba(255, 255, 255, 1) 100%);
    background: linear-gradient(to bottom, rgba(229, 229, 229, 1) 0%, rgba(255, 255, 255, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e5e5e5', endColorstr='#ffffff', GradientType=0);

}

.partywindow .avatars {
    display: flex;
    overflow: hidden;   /** if this is not set, the avatar portraits overlap the content below */
}

.partywindow .avatars .avatar {
    flex: 1;
    height: 120px;
    box-sizing: border-box;
    background-position: 0 25%;
}

@media (max-width: 1131px) {
    /** when the avatars become vertically longer than horizontally, they become square  */
    /** The 1131px is based on the number of avatars (4) and the amount of space around the party screen (650px)*/
    .partywindow .avatars .avatar {
        height: inherit;
    }
}


/* Using eqcss, when the avatars become vertically longer than horizontally, they become square 
@element .partywindow .avatars .avatar and (max-width: 120px) {
    $this {
        height: inherit;
    }
}
*/


.partywindow .avatars .avatar.selected {
    border: purple 4px solid;
}

.partywindow .questlog {
    height: 200px;
}

.partywindow .action {
    height: 200px;
}


/*
 @media (max-width: 600px) {
    .partywindow .adventurer-container .inventory {
        grid-template-columns: 100%;
    }
}

@media (max-width: 800px) {
    .partywindow .adventurer-container .inventory {
        grid-template-columns: 50% 50%;
    }
}

@media (min-width: 1100px) {
    .partywindow .adventurer-container .inventory {
        grid-template-columns: 20% 20% 20% 20% 20%;
    }
}

@media (min-width: 1500px) {
    .partywindow .adventurer-container .inventory {
        grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
    }
}

@media (min-width: 1800px) {
    .partywindow .adventurer-container .inventory {
        grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    }
} */

