@import "components/styles/import.scss";

$arrow-size: 8px;

.tooltip {
	position: absolute;
  z-index: zIndex(tooltip);
  transition: opacity .45s ease-in-out;

	.tooltip-arrow {
		border-color: $color-secondary;
		width: 0;
		height: 0;
		border-style: solid;
		position: absolute;
		margin: $arrow-size;
    }

	.tooltip-content {

	}

    &.tooltip-bottom {
      transform: translate(-50%, $arrow-size);

      .tooltip-arrow {
        border-width: 0 $arrow-size $arrow-size $arrow-size;
        border-left-color: transparent;
        border-right-color: transparent;
        border-top-color: transparent;
        top: $arrow-size * -1;
        left: calc(50% - #{$arrow-size} * 2);
        margin-top: 0;
        margin-bottom: 0;
      }
    }

    &.tooltip-top {
      transform: translate(-50%, calc(-100% - #{$arrow-size}));

      .tooltip-arrow {
        border-width: $arrow-size $arrow-size 0 $arrow-size;
        border-left-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        bottom: $arrow-size * -1;
        left: calc(50% - #{$arrow-size} * 2);
        margin-top: 0;
        margin-bottom: 0;
      }
    }
}
