@import 'components/styles/import.scss';

.window {
	background: $color-background-overlay;
	position: absolute;
	z-index: 2;
	top: $misc-topbar-height;
	left: 0;
	width: 100%;
	height: calc(100% - #{$misc-topbar-height});

  .header {

    background: black;
		display: flex;
		height: 32px;

		h3 {
      height: 32px;
      color: white;
			flex: 1;
			margin: 0;
			line-height: 32px;
			padding-left: 6px;
			text-transform: capitalize;
		}
	}
}
