@import '@/components/styles/import.scss';

.window {
	background: $color-background-overlay;
	position: absolute;
	z-index: zIndex("window");
	top: $misc-topbar-height;
	left: 0;
	width: 100%;
	height: calc(100% - #{$misc-topbar-height});

  .header {

    background: black;
		display: flex;
		height: 2rem;

    .button.close-button {
      span {
        font-size: 1.5rem;
      }
    }

		h3 {
      height: 2rem;
      color: white;
			flex: 1;
			margin: 0;
			line-height: 2;
			padding-left: 0.5rem;
			text-transform: capitalize;
		}
	}
}
