@import 'components/styles/variables.scss';
$border: 2px;

.items-list {
	display: flex;
	flex-direction: column;
	padding: 0;
	margin: 0;

  .item-row {
		display: flex;
		position: relative;
		margin-bottom: 6px;
		height: $item-size-medium + $border;
		padding-left: $item-size-medium + $border + 6px;

		.item-placeholder {
			position: absolute;
			left: 0;
			background: #4d4d4d75;

      @include border-primary-md;

      &.drop-possible {
        @include border-gold-md;
      }
      &.drop-active {
        @include border-green-md;
      }
      box-sizing: border-box;
			width: $item-size-medium + $border * 2;
			height: $item-size-medium + $border * 2;
		}

		div[draggable="true"] {
			// So that when draggin the text doesnt go left
			position: absolute;
			left: 0;
		}

    .text {
			flex: 1;
			p {
				margin: 4px;
			}

      .subtext {
				color: $color-secondary;
			}
		}
	}
}
