$color-primary: orange;
$color-secondary: #83756a;
$color-invalid: #8b0000;
$color-valid: green;
$color-highlighted: #ffcc00;
$color-link: #105770;

$color-text-darker: #7d7f80;
$color-text-darkest: #1c1c1c;
$color-text-medium: #888888;
$color-text-lighter: #fcfcfc;

$color-background-dark: #28292c;
$color-background-lighter: #2e3134;
$color-background-overlay: rgba(0, 0, 0, 0.85);

$color-rarity-common: #ffffff;
$color-rarity-uncommon: #1eff00;
$color-rarity-rare: #0070dd;
$color-rarity-epic: #a335ee;
$color-rarity-legendary: #ff8000;
