$color-primary: orange;
$color-secondary: #83756a;
$color-invalid: #8b0000;
$color-valid: green;
$color-highlighted: #ffcc00;

$color-text-darker: #B1B1B1;
$color-text-lighter: #ffffff;

$color-background-dark: rgba(0, 0, 0, 0.85);

$color-rarity-common: #ffffff;
$color-rarity-uncommon: #1eff00;
$color-rarity-rare: #0070dd;
$color-rarity-epic: #a335ee;
$color-rarity-legendary: #ff8000;
