$misc-topbar-height: 32px;
$misc-max-width: 960px; // app width

@mixin no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@mixin popupText() {
    color: $color-secondary;
    text-decoration: underline;
    text-decoration-style: dashed;
    text-underline-offset: 2px;
}