@import '_colors.scss';
@import '_font.scss';
@import '_items.scss';
@import '_misc.scss';
@import '_responsive';
@import '_ui.scss';

:export {
    colorPrimary: $color-primary;
    colorSecondary: $color-secondary;
    colorTextLighter: $color-text-lighter;
}