@import '@/components/styles/import.scss';

.resources-box {
	padding: 0;
	margin: 0;

  .row {
    grid-template-columns: 32px minmax(0, 1fr) 1fr 1fr 5fr;
    display: grid;
  }

	.name {
		// flex: .2;
		margin-left: 4px;
	}

	.amount {
		// width: 40px;
		text-align: right;

		&.full {
			color: $color-invalid;
		}

		&.insufficient {
			color: $color-invalid;
		}
	}

	.max {
		color: $color-text-medium;
    white-space: nowrap;
	}

	.structure {
		padding-left: 15px;
		overflow: hidden;

    a {
      color: $color-highlighted;
    }

		p {
			margin: 0;
			overflow: hidden;
			white-space: nowrap;
      padding-right: 0.25rem;

      @include sm {
        // on high res, the 'unbuilt' line is to the right of the text
        float: left;
      }
		}
    .unbuilt {
      color: $color-text-darker;
			overflow: hidden;
			white-space: nowrap;
    }
	}

}


