@import 'components/styles/variables.scss';

.resources-box {
	padding: 0;
	margin: 0;

  .row {
    grid-template-columns: 32px 1fr 1fr 1fr 1fr 2fr;
    display: grid;
  }

	.name {
		// flex: .2;
		margin-left: 4px;
	}

	.amount {
		// width: 40px;
		text-align: right;

		&.full {
			color: $color-invalid;
		}

		&.insufficient {
			color: $color-invalid;
		}
	}

	.max {
		color: grey;
	}

	.structure {
		padding-left: 15px;
		overflow: hidden;

		p {
			margin: 0;
			overflow: hidden;
			white-space: nowrap;
		}
	}

}


