@import 'components/styles/variables.scss';

.warehouse-structureview {
    .upgrade {
        float: right;
    }
    .help {
        float: right;
    }
    
    .adventurer-inventory {
        border: 1px solid $color-secondary;
        min-height: 100px;
        padding-left: 20px;
    }
}