details.structureview {
    margin-bottom: 10px;
}
details.structureview  section {
    margin-left: 15px;
}

.structureview .crafting-row {
    display: flex;
}

.structureview .crafting-row .updownvalue {
    padding: 0 32px;
}

.production-structure-view {
    padding: 8px;

    .upgrade {
        float: right;
    }
    
    .crafting-area {
        display: flex;
    
        .vertical-tab-bar {
            list-style: none;
            margin: 0;
            padding: 0;
            width: 200px;
            
            li {
                display: flex;
                margin: 0;
                padding: 0;
                line-height: 32px;
                cursor: var(--app-cursor-pointer);

                &.selected {
                    background: #165fcb;
                    color: white;
                }
                
                .item-icon {
                    width: 32px;
                    height: 32px;
                    margin-right: 10px;
                }
            }
        }
        
        .crafting-details {
            flex: 1;
            border: 3px solid #165fcb;
            padding: 10px;

            .crafting-costs {
                display: flex;
            
                fieldset {
                    flex: 1;
                }
            }

            .buttonrow {
                display: flex;
                justify-content: space-between;
                margin-top: 16px;
            }
        }
    }
}

