.structureview-header {
  height: 128px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-position: center;
  background-repeat: no-repeat;

  &::after {
    height: 100px;
    width: 100px;
    content: "";
    display: block;
    margin-left: 32px;
    z-index: 22;
    position: absolute;
    background-size: 100% 100%;

    filter: drop-shadow(5px 3px 4px rgba(0, 0, 0, 1));
  }
}

@mixin structureHeader($structure) {
  background-image: url("./images/#{$structure}/banner.png");
  &::after {
    background-image: url("./images/#{$structure}/icon.png");
  }
}

.structureview-header-alchemist {
  @include structureHeader("alchemist");
  background-position: center -188px;
}

.structureview-header-armoursmith {
  @include structureHeader("armoursmith");
  background-position: center -219px;
}

.structureview-header-mine {
  @include structureHeader("mine");
}

.structureview-header-lumberMill {
  @include structureHeader("lumberMill");
  background-position: center -194px;
}

.structureview-header-garden {
  @include structureHeader("garden");
  background-position: center -492px;
}

.structureview-header-weaver {
  @include structureHeader("weaver");
  background-position: center -247px;
}

.structureview-header-workshop {
  @include structureHeader("workshop");
  background-position: center -247px;
}

.structureview-header-tannery {
  @include structureHeader("tannery");
}

.structureview-header-tavern {
  @include structureHeader("tavern");
}

.structureview-header-weaponsmith {
  @include structureHeader("weaponsmith");
  background-position: center -280px;
}

.structureview-header-quarry {
  @include structureHeader("quarry");
}

