.upgrade-stucture-button {
    display: flex;

    label {
        flex: 1;
        font-size: larger;
    }
}

.upgrade-progress-container {
  display: flex;

  .upgrading {
    flex: 1;
    margin-right: 0.5rem;
  }
}
