.structureview-header {
    height: 128px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-repeat: no-repeat;
}



.structureview-header-alchemist {
    background-image: url("./img/alchemist/banner.png");
    background-position: center -188px;
}

.structureview-header-armoursmith {
    background-image: url("./img/armoursmith/banner.png");
    background-position: center -219px;
}

.structureview-header-mine {
    background-image: url("./img/mine/banner.png");
}

.structureview-header-lumberMill {
    background-image: url("./img/lumberMill/banner.png");
    background-position: center -194px;
}

.structureview-header-garden {
    background-image: url("./img/garden/banner.png");
    background-position: center -492px;
}

.structureview-header-weaver {
    background-image: url("./img/weaver/banner.png");
    background-position: center -247px;
}

.structureview-header-tannery {
    background-image: url("./img/tannery/banner.png");
}

.structureview-header-weaponsmith {
    background-image: url("./img/weaponsmith/banner.png");
    background-position: center -280px;
} 

.structureview-header-quarry {
    /* todo */
}

