@import 'components/styles/import.scss';

.adventurers-overview {
  display: grid;
  gap: 1rem;
  margin: 1rem 0;

  @include xs {
    grid-template-columns: 1fr 1fr;
  }

  @include md {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .adventurer {
    .avatar {
      width: 100%;
      height: 0;
      padding-bottom: 100%;
      border: 2px solid $color-secondary;
		  cursor: var(--app-cursor-pointer);

      &:hover {
        border: 2px solid $color-highlighted;
      }
    }

    .name {
      text-align: center;
    }
  }
}
