@import '@/components/styles/import.scss';

.debug-drawer {
  background-color: lighten($color-secondary, 10%);
  position: absolute;
  height: inherit;
  min-height: 100%;
  width: 100%;
  z-index: zIndex("debugdrawer");
  animation: 1s slidein forwards;

  .close {
    color: $color-secondary;
    position: absolute;
    right: 1rem;
    top: 0.5rem;
  }
}


@keyframes slidein {
  from {
    min-height: 0;
    height: 0;
    top: 100%;
  }

  to {
    min-height: 100%;
    height: inherit;
    top: 0;
  }
}
