.itemsbox {
    padding: 0;
    margin: 0;
    list-style: none;
}

.itemsbox .item {
    display: flex;
}

.itemsbox .item .icon {
    width: 16px;
    height: 16px;
    background-size: contain;
    background-repeat: no-repeat;
}

.itemsbox .item .name {
    width: 100px;
    margin-left: 4px;
}

.itemsbox .item.missing .icon {
    opacity: 0.5;
}

.itemsbox .item.missing .name {
    color: red;
}