.window {
    background: rgba(0, 0, 0, .8);
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.window .header {
    background: white;
    display: flex;
    height: 32px;
}

.window .header .back-button {
    background: purple;
}

.window .header h3 {
    height: 32px;    
    flex: 1;
    margin: 0;
    line-height: 32px;
    padding-left: 6px;
}

.window .header .close-button {
    background: orange;
}

