.window {
    background: rgb(124, 124, 124);
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.window .header {
    background: white;
    display: flex;
    height: 32px;
}

.window .header .back-button {
    background: purple;
    width: 32px;
    height: 32px;

    /** this stuff is for the temp symbol < */
    line-height: 29px;
    margin: auto;
    text-align: center;
    color: white;
    font-size: 25px;
}

.window .header h3 {
    height: 32px;    
    flex: 1;
    margin: 0;
    line-height: 32px;
    padding-left: 6px;
}

.window .header .close-button {
    background: orange;
    width: 32px;
    height: 32px;

    /** this stuff is for the temp symbol x */
    line-height: 29px;
    margin: auto;
    text-align: center;
    color: white;
    font-size: 25px;
}

/** move to global file */
.ui-button {
    cursor: pointer;
}