@import 'components/styles/variables.scss';

.choices .content {
    padding: 8px;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
}

.choices .content button {
    margin-bottom: 8px;
}