@import '@/components/styles/import.scss';

.loot-cache {
	.content {
		.items {
			padding: 8px;
      flex: 1;

			.items-list {
        overflow: hidden;

				.item {
					background: rgba(0, 0, 0, 0.8);
					padding: 4px;
					margin-bottom: 4px;
					position: relative;
					right: 0;
          height: 48px;

					.item-icon {
						margin-right: 8px;
					}
				}
			}
		}
    .adventurer {
			width: 64px;
			padding-right: 8px;
			padding-top: 8px;

			margin-top: 8px;

      button {
        width: 100%;
      }
		}

    .gold {
			.icon {
				margin-right: 8px;
			}
		}

    .take-gold {
			width: 64px;
			padding-right: 8px;
			display: flex;
			align-items: center;
      padding-bottom: 8px;

			button {
				// margin-right: 8px;
				width: 100%;
			}
		}

		.content {
			.gold {
				margin: 8px;
				background: rgba(0, 0, 0, 0.8);
				flex: 1;
				padding: 4px;
				display: flex;
			}
		}

    button {
      flex: 1;
    }
  }
}
