@import '@/components/styles/import.scss';

.interaction-modal {
  color: white;
  width: 384px;
  border: 1px solid $color-secondary;
  background-color: $color-background-overlay;
}

.interaction-modal .header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $color-secondary;
  padding: 8px;
}

.interaction-modal .header .title {
  padding-left: 4px;
}

.interaction-modal .header .close {
  padding-right: 4px;
}

.interaction-modal .header .close::before {
  content: "x"
}

.interaction-modal .content {
  display: flex;
}
