@import 'components/styles/variables.scss';

.situation .content {
    padding: 8px;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
}

.situation .content button {
    margin-bottom: 8px;
}