@import '@/components/styles/import.scss';

.resource-structure-view {
  padding: 1rem;


  .resource-generation-row {
    display: flex;
    margin-top: 2rem;

    .error-full {
      background-color: $color-primary;
      padding: 0.5rem 0.75rem;
      color: $color-invalid;
      border-radius: 6px;

      p {
        margin: 0;
      }
    }

    .info {
      flex: .4;
      display: flex;

      .icon {
        margin-right: 4px;
      }
    }

    .generating {
      flex: .6;
    }
  }
}
