.resource-structure-view {
    padding: 16px;
    

    .resource-generation-row {
        display: flex;
        margin-top: 32px;

        .info {
            flex: .4;
            display: flex;

            .icon {
                margin-right: 4px;
            }
        }

        .generating {
            flex: .6;
        }
    }
}