@import '@/components/styles/import.scss';

.resource-structure-view {
  padding: 1rem;


  .resource-generation-row {
    display: flex;
    margin-top: 2rem;

    .error-full {
      color: $color-invalid;
    }
    .info {
      flex: .4;
      display: flex;

      .icon {
        margin-right: 4px;
      }
    }

    .generating {
      flex: .6;
    }
  }
}
