$cursor-default: url("/img/cursors/dwarven_gauntlet_extra_4.png"), auto;
$cursor-pointer: url("/img/cursors/dwarven_gauntlet_extra_6.png"), auto;
$cursor-down: url("/img/cursors/dwarven_gauntlet_extra_3.png"), auto;
