.quest-panel {
    display: flex;
    background: white;
    flex: 1;
}

.quest-panel.quest-panel-horizontal {
    flex-direction: row;
}

.quest-panel.quest-panel-vertical {
    flex-direction: column;
}

.quest-panel.quest-panel-vertical .adventurer-panel {
    display: flex;
    overflow: auto; /* horizontal scrollbar if needed */
}

.quest-panel.quest-panel-vertical .adventurer-panel .info {
    margin-right: 8px;
    flex: 1;
}

.quest-panel.quest-panel-vertical .adventurer-panel .equipment {
    margin-right: 8px;
}


@media only screen and (min-width: 576px) {
    /** medium screen, horizontal layout */
    .quest-panel.quest-panel-auto {
        flex-direction: row;
    }

    .quest-panel.quest-panel-auto .quest-area {
        overflow: hidden;
        justify-content: center;
        align-items: baseline;  
    }
}

@media only screen and (max-width: 576px) {
    /** small screen, vertical layout */
    .quest-panel.quest-panel-auto {
        flex-direction: column;
    }

    .quest-panel.quest-panel-auto .quest-area {
       flex: 0 1;      
    }

    .quest-panel.quest-panel-auto .adventurer-panel {
        display: flex;
        overflow: auto; /* horizontal scrollbar if needed */
    }
    
    .quest-panel.quest-panel-auto .adventurer-panel .info {
        margin-right: 8px;
        flex: 1;
    }

    .quest-panel.quest-panel-auto .adventurer-panel .equipment {
        margin-right: 8px;
    }
}

/** on the left. grow as needed */
.quest-panel .quest-area {
    flex: .6;
    padding: 8px;
    display: flex;
    position: relative;
}

.quest-panel .quest-area .modal {
    background: rgba(0, 0, 0, 0.75);
    position: absolute;
    left: 8px;
    top: 8px;
    right: 8px;
    bottom: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quest-panel canvas {
    flex: 1;
    max-width: 100%;
}

/** scene canvas */
.quest-panel .quest-area canvas {
    width: 100%;
    height: auto !important;
}

/** on the right. party party */
.quest-panel .party-area {
    flex: .4;
    padding: 8px;
}