.quest-panel {
    display: flex;
    background: white;
    flex: 1;
}

.quest-panel.quest-panel-horizontal {
    flex-direction: row;
}

.quest-panel.quest-panel-vertical {
    flex-direction: column;
}

.quest-panel.quest-panel-vertical .adventurer-panel {
    display: flex;
    overflow: auto; /* horizontal scrollbar if needed */
}

.quest-panel.quest-panel-vertical .adventurer-panel .info {
    margin-right: 8px;
    flex: 1;
}

.quest-panel.quest-panel-vertical .adventurer-panel .equipment {
    margin-right: 8px;
}


@media only screen and (min-width: 576px) {
    /** medium screen, horizontal layout */
    .quest-panel.quest-panel-auto {
        flex-direction: row;
    }

    .quest-panel.quest-panel-auto .quest-area {
        overflow: hidden;
        justify-content: center;
        align-items: baseline;        
    }
}

@media only screen and (max-width: 576px) {
    /** small screen, vertical layout */
    .quest-panel.quest-panel-auto {
        flex-direction: column;
    }

    .quest-panel.quest-panel-auto .adventurer-panel {
        display: flex;
        overflow: auto; /* horizontal scrollbar if needed */
    }
    
    .quest-panel.quest-panel-auto .adventurer-panel .info {
        margin-right: 8px;
        flex: 1;
    }

    .quest-panel.quest-panel-auto .adventurer-panel .equipment {
        margin-right: 8px;
    }
}

/** on the left. grow as needed */
.quest-panel .quest-area {
    flex: .6;
    padding: 8px;
    display: flex;
}

.quest-panel canvas {
    flex: 1;
}

/** scene canvas */
.quest-panel .quest-area canvas {
    width: 100%;
}

/** on the right. party party */
.quest-panel .party-area {
    flex: .4;
    padding: 8px;
}

.quest-panel .party-area .tabstrip .tabstrip-tab {
    margin-bottom: -1px;
    border-bottom: 1px solid #ffa500;
    margin-left: 2px;
    padding: 0;
}

.quest-panel .party-area .tabstrip .tabstrip-tab.active {
    border-color: #ffa500;
    border-bottom: 1px solid white;
}

.quest-panel .party-area .adventurer-details {
    border: 1px solid #ffa500;
    height: 100%;
    padding: 8px;
}

.quest-panel .party-area .equipment ul {
    padding: 15px;
    display: grid;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    grid-auto-flow: column;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.quest-panel .party-area .equipment ul li {
    box-sizing: border-box;
}

.quest-panel .party-area .equipment ul li .info {
    font-size: smaller;
}

/* * todo: media queries to show less columns
.quest-panel .party-area .inventory {
    grid-template-columns: 46px 46px 46px 46px 46px 46px 46px;
} */