.assign-adventurers {

}

.assign-adventurers li {
    display: inline-block;
    width: 32px;
    height: 32px;
    border: 1px solid gray;
    margin: 2px;
}

.assign-adventurers li.has-adventurer {
    cursor: pointer;
}