.quest-board .quest-list {
    padding: 0;
}

.quest-board .quest-list .quest {
    display: flex;
}

.quest-board .quest-list .quest.selected {
    background-color: #165fcb;
}

.quest-board .quest-list .quest .icon {
    height: 32px;
    width: 26px;
    display: inline-block;
    padding: 3px;
    margin: 3px;
    box-sizing: border-box;
    background-size: contain;
}

.quest-board .quest-list .quest .title {
    flex: 1;
    line-height: 32px;
    margin-left: 10px;
}

.quest-board .quest-list .quest.selected .title {
    color: white;
}

.quest-board .quest-details {
    border: 1px solid grey;
}