/** medium and large resolutions */
@media only screen and (min-width: 576px) {
    .tavernstructureview section {
        display: flex;
    }
}

.tavernstructureview .rooms {
    overflow: auto;
    flex: 1;
    margin: 8px;
}

.tavernstructureview .rooms .adventurer-details {
    border: 1px solid grey;
    padding: 8px;
    top: -4px;
    position: relative;
}

.tavernstructureview .rooms .room {
    border: 1px solid gray;
    margin-bottom: 4px;
    padding: 4px;
    height: 42px;
    box-sizing: border-box;
}

.tavernstructureview .rooms .room.expanded {
    background-color: #165fcb;
    color: #fff;
}

.tavernstructureview .rooms .room .adventurer-icon {
    width: 32px;
    float: left;
    margin-right: 6px;
}

.tavernstructureview .rooms .room .boot {
    float: right
}

.tavernstructureview .quest-board {
    flex: 1;
}

