.tavernstructureview section {
    display: flex;
    height: 400px;
}

.tavernstructureview .rooms {
    overflow: auto;
    flex: 1;
}

.tavernstructureview .rooms .room {
    border: 1px solid gray;
    margin-bottom: 4px;
    padding: 4px;
    height: 42px;
    box-sizing: border-box;
}

.tavernstructureview .rooms .room .adventurer-icon {
    width: 32px;
    float: left;
    margin-right: 6px;
}

.tavernstructureview .rooms .room .boot {
    float: right
}

.tavernstructureview .quest-area {
    flex: 1;
}