.tavernstructureview .rooms {
    height: 200px;
    overflow: auto;
}

.tavernstructureview .rooms .room {
    border: 1px solid gray;
    margin-bottom: 4px;
    padding: 4px;
    height: 42px;
    box-sizing: border-box;
}

.tavernstructureview .rooms .room .adventurer-icon {
    width: 32px;
    float: left;
    margin-right: 6px;
}
