@import 'components/styles/import.scss';

.debug-items-list {
  background-color: white;
  padding: 1rem 0.5rem;

  @include md {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .item {
    padding: 0.5rem;
    display: flex;

    h2, h3 { margin: 0; }
    .info {
      margin-left: 0.5rem;
    }
  }
}
