@import 'components/styles/import.scss';

.debug-items-list {
  background-color: white;
  padding: 1rem 0.5rem;
  border-top: 2px solid $color-highlighted;

  @include md {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  }

  .item {
    padding: 0.5rem;
    display: flex;

    h2, h3 { margin: 0; }

    .info {
      margin-left: 0.5rem;
      width: calc(100% - $item-size-big - 1rem);
      position: relative;

      pre {
        padding-right: 0.5rem;
        color: $color-text-darkest;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      &:hover {
        z-index: 2;
        width: auto;
        background-color: white;
      }
    }
  }
}
