.droppable-adventurer-slot {
    flex: 1;
    height: 100%;
}

.droppable-adventurer-slot.can-drop {
    /** style applied when something is picked up that can be dropped here */
    /** todo: can be made global? */
    background: lightgreen;
}

.droppable-adventurer-slot.active-drop {
    /** style applied when something that can be dropped here is dragged over */
    /** todo: can be made global? */
    background: green;
}