.updownvalue .max {
    color: #777777;
    margin-right: 3px;
}

.updownvalue i.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin: 2px;
    cursor: var(--app-cursor-pointer);
}

.updownvalue i.arrow.disabled {
    border-color: #777777;
    cursor: default;
}

.updownvalue i.arrow.up {
    transform: translate(2px, 2px) rotate(-135deg);
    -webkit-transform: translate(2px, 2px) rotate(-135deg);
}

.updownvalue i.arrow.down {
    transform: translate(2px, -2px) rotate(45deg);
    -webkit-transform: translate(2px, -2px) rotate(45deg);
}