@import 'components/styles/variables.scss';

.combat-ui-widget {
    div {
        position: absolute;
        pointer-events: painted;

        @include no-select;

        img {
            margin-top: 8px;
            margin-left: 4px;
            pointer-events: none;
        
            &:hover {
                opacity: 0.8;
            }
        }
        
    }
}