@use "sass:math";
@import 'components/styles/import.scss';

$cellWidth: 64;

.combat-ui-widget {
  position: relative;
  pointer-events: none;

  .info {
    z-index: 2;
    position: absolute;
    text-align: center;
    color: $color-text-lighter;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5), 0 0 2px rgba(0, 0, 0, 0.5);
    font-size: x-large;
    top: -22px;
    white-space: nowrap;
  }

  &:before {
    // yellow circle
    content: '';
    width: $cellWidth * .75px;
    height: $cellWidth * .75px;
    display: block;
    position: absolute;
    border: 8px solid white;
    border-radius: 50%;
    left: 0;
    top: 0;
  }

  &.on-enemy {
    &:before {
      border-color: $color-highlighted;
    }
  }

  &.invalid {
    &:before {
      border-color: $color-invalid !important;
    }
  }
}
