.popup {
    position: absolute;
    z-index: 3;

    --arrow-size: 8px;  /* warning! sync to withPopup.ARROW_SIZE */
    transition: opacity .45s ease-in-out;
}

.popup .popup-arrow {
    border-color: #000000;
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    margin: var(--arrow-size);
}

.popup.popup-bottom {
    transform: translate(-50%, var(--arrow-size));
}

.popup.popup-bottom .popup-arrow {
    border-width: 0 var(--arrow-size) var(--arrow-size) var(--arrow-size);
    border-left-color: transparent;
    border-right-color: transparent;
    border-top-color: transparent;
    top: calc(var(--arrow-size) * -1);
    left: calc(50% - calc(var(--arrow-size) * 2));
    margin-top: 0;
    margin-bottom: 0;
}

.popup.popup-top {
    transform: translate(-50%, calc(-100% - var(--arrow-size)));
}

.popup.popup-top .popup-arrow {
    border-width: var(--arrow-size) var(--arrow-size) 0 var(--arrow-size);
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    bottom: calc(var(--arrow-size) * -1);
    left: calc(50% - calc(var(--arrow-size) * 2));
    margin-top: 0;
    margin-bottom: 0;
}

.popup .popup-content {
    border: 2px solid #000000;
}