@mixin border($color, $size) {
  border-image-source: url("./../img/ui/border/border-#{$color}-64.png");
  border-image-slice: $size $size $size $size;
  border-image-repeat: stretch;
  border-width: #{$size}px;
  border-style: solid;
}

@mixin border-grey-sm {
  // 1px border grey
  @include border('grey', 1);
}

@mixin border-grey-md {
  // 2px border grey
  @include border('grey', 2);
}

@mixin border-green-sm {
  // 1px border green
  @include border('green', 1);

}

@mixin border-green-md {
  // 2px border green
  @include border('green', 2);
}

@mixin border-gold-sm {
  // 1px border gold
  @include border('gold', 1);
}

@mixin border-gold-md {
  // 2px border gold
  @include border('gold', 2);
}

@mixin border-primary-sm {
  // 1px border primary
  @include border('primary', 1);
}

@mixin border-primary-md {
  // 2px border primary
  @include border('primary', 2);
}
