@import 'components/styles/import.scss';

.tabstrip {
	list-style: none;
	padding: 0;
	padding-left: 4px;
	margin: 0;
	flex: 1;
	display: flex;

  .open {
    // Used for 'auto-collapse' mode
    display: none;
  }

	.tabstrip-tab {
		max-width: 150px;
		display: inline-block;
		margin-left: 4px;
		margin-bottom: -2px;
		border: 2px solid $color-secondary;
		border-bottom: 0;
		background: lightgray;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		cursor: var(--app-cursor-pointer);
		align-self: flex-end;
	}

	.tabstrip-tab.active {
		background: white;
		border-color: $color-highlighted;
	}

  &.auto-collapse {
    /** Auto collapses into a dropdown list on small screens */
    @include sm-max {
      flex-direction: column;

      .open:checked ~ .tabstrip-tab {
        display: block;
      }

      .tabstrip-tab {
        align-self: inherit;
        display: none;
      }

      .tabstrip-tab.active {
        display: block;
      }
    }
  }
}

.tabstrip.disabled {
	.tabstrip-tab {
		opacity: .2;
  }

	.tabstrip-tab.active {
		opacity: initial;
	}
}
