@import '@/components/styles/import.scss';

.tabstrip {
	list-style: none;
	padding: 0;
	padding-left: 4px;
	margin: 0;
	flex: 1;
	display: flex;

  .open {
    // Used for 'auto-collapse' mode
    display: none;
  }

	.tabstrip-tab {
		max-width: 150px;
		display: inline-block;
		margin-left: 4px;
		margin-bottom: -2px;
		border: 2px solid $color-secondary;
		border-bottom: 0;
		background: lightgray;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		cursor: $cursor-pointer;
		align-self: flex-end;
    padding: 0 0.25rem;

    &.active {
      background: white;
      border-color: $color-highlighted;
      z-index: 1;
    }
  }

  &.auto-collapse {
    /** Auto collapses into a dropdown list on small screens */
    @include sm-max {
      flex-direction: column;

      .open:checked ~ .tabstrip-tab {
        display: block;
      }

      .open ~.active:after {
        float: right;
        color: $color-text-darker;
      }
      .open:checked ~ .active:after {
        content: '▴';
      }
      .open:not(checked) ~ .active:after {
        content: '▾';
      }

      .tabstrip-tab {
        align-self: inherit;
        display: none;
      }

      .tabstrip-tab.active {
        display: block;
      }
    }
  }

  &.disabled {
    .tabstrip-tab {
      opacity: .2;

      &.active {
        opacity: initial;
      }
    }
  }

}

