/** move to global buttons file */
.ui-button {
    cursor: pointer;
}

.widgets-squareiconbutton {
    background: orange;
    width: 32px;
    height: 32px;

    /** this stuff is for the temp symbol x */
    line-height: 29px;
    margin: auto;
    text-align: center;
    color: white;
    font-size: 25px;
}