.questlinevisualization {
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
}

.questlinevisualization .questname {
    font-family: initial;
    font-size: medium;
}

.questlinevisualization .active {
    font-weight: bold;
}

.questlinevisualization .select {
    float: right;
}

.questlinevisualization .selected {
    float: right;
    font-family: initial;
    font-size: initial;
}
