@import '@/components/styles/import.scss';

.action-bar-background {
  width: 100%;
  height: 100%;
  background-color: $color-background-overlay-lighter;


  .dropzone-top, .dropzone-bottom {
    border: 2px solid white;
    position: absolute;
    height: 48px;
    left: 1rem;
    width: calc(100% - 2rem);
    display: none;

    &:hover {
      border-color: $color-highlighted;
    }
  }

  .dropzone-top {
    top: 1rem;
  }

  .dropzone-bottom {
    bottom: 1rem;
  }

  &.dragging {
    .dropzone-top, .dropzone-bottom {
      display: block;
    }

    .secondary-action-bar {
      display: none;
    }
  }
}

.action-bar {
  position: absolute;
  left: 1rem;
  width: calc(100% - 2rem);
  display: flex;
  flex-direction: column;
  gap: 0.25rem;

  @include no-select;

  &.attached-top {
    top: 1rem;
  }

  &.attached-bottom {
    bottom: 1rem;
  }

  .button {
    .item-icon {
      float: left;
      margin-right: 0.5rem;
    }
  }

  .primary {
    height: 48px;
    position: relative;
    display: flex;
    align-items: center;
    background-color: $color-secondary;

    .actors {
      display: flex;
      margin: -1rem 0.5rem;
      gap: 0.5rem;

      .adventurer-frame {
      }

      .enemy-frame {
      }
    }

    .actions {
      flex: 1;
      padding: 0;
      margin-left: 1rem;
      display: flex;
      gap: 0.5rem;

      .action-button {
        border: 3px solid $color-primary;
        width: $item-size-small + 2px;
        height: $item-size-small + 2px;
        background-color: $color-background-overlay;

        &.active {
          border-color: $color-highlighted;
        }

        .action-icon {
          width: 100%;
          height: 100%;
        }

        .item-icon {
          margin-top: -3px;
          border-width: 3px;
        }
      }

    }

    .button-close {
      padding: 0.5rem 1rem;
    }
  }

  .secondary-action-bar {
    height: 48px;
    background-color: orange;
  }

  &.attached-bottom {
    .secondary-action-bar {
      order: -1;
    }
  }

  .action-button-close {
  }
}
