.vertical-quest-panel {
    display: flex;
    background: white;
    flex: 1;
}

/** on the left. grow as needed */
.vertical-quest-panel .quest-area {
    flex: .6;
    padding: 16px;
}

/** on the right. party party */
.vertical-quest-panel .party-area {
    flex: .4;
    padding: 8px;
}

.vertical-quest-panel .party-area .tabstrip .tabstrip-tab {
    margin-bottom: -1px;
    border-bottom: 1px solid #ffa500;
    margin-left: 2px;
    padding: 0;
}

.vertical-quest-panel .party-area .tabstrip .tabstrip-tab.active {
    border-color: #ffa500;
    border-bottom: 1px solid white;
}

.vertical-quest-panel .party-area .adventurer-details {
    border: 1px solid #ffa500;
    height: 100%;
    padding: 8px;
}

.vertical-quest-panel .party-area .equipment ul {
    padding: 15px;
    display: grid;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    grid-auto-flow: column;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.vertical-quest-panel .party-area .equipment ul li {
    box-sizing: border-box;
}

.vertical-quest-panel .party-area .equipment ul li .info {
    font-size: smaller;
}