@import 'components/styles/variables.scss';

.adventurer-skills {
    list-style: none;
    padding: 0;
    
    li {
        display: flex;
        
        span {
            flex: .5;
        }
        
        span.skill {            
            // todo: @include
            color: $color-secondary;
            text-decoration: underline;
        }
    }
}
