@import 'components/styles/variables.scss';

.context-tooltip {
    padding: 3px;
    font-size: smaller;
    width: 200px;
    
    .name {
        text-transform: capitalize;
    }

    .invalid {
        color: $color-invalid;
    }

    .item-name-common {
        color: $color-rarity-common;
    }
    
    .item-name-uncommon {
        color: $color-rarity-uncommon;
    }
    
    .item-name-rare {
        color: $color-rarity-rare;
    }
    
    .item-name-epic {
        color: $color-rarity-epic;
    }
    
    .item-name-legendary {
        color: $color-rarity-legendary;
    }

    .button {
        margin-top: 8px;
    }
}
