@import '@/components/styles/import.scss';

.context-tooltip {
  padding: 3px;
  font-size: smaller;
  width: 200px;

  .header {
    display: flex;
    justify-content: space-between;
  }

  .subheader {
    margin-top: 0.25rem;
    color: $color-text-lighter;
  }

  .secondary {
    color: $color-secondary;
  }

  hr {
    border-width: 1px;
    border-bottom-width: 1px;
    border-bottom: 0;
    border-color: $color-secondary;
  }

  p:last-of-type {
    margin-bottom: 0;
  }

  // lists of stats
  dl {
    display: grid;
    grid-template-columns: minmax(0, 1.5fr) minmax(0, 0.5fr);

    dt, dd {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    dd {
      color: $color-text-darker;
      margin-left: 0.5rem;
    }
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .name {
    text-transform: capitalize;
  }

  .invalid {
    color: $color-invalid;
  }

  .item-name-common {
    color: $color-rarity-common;
  }

  .item-name-uncommon {
    color: $color-rarity-uncommon;
  }

  .item-name-rare {
    color: $color-rarity-rare;
  }

  .item-name-epic {
    color: $color-rarity-epic;
  }

  .item-name-legendary {
    color: $color-rarity-legendary;
  }

  .button {
    margin-top: 8px;
  }
}
